In [218]:
# Path to dataset: 

data_path = 'Data/Bike-Sharing-Dataset/day.csv'

In [219]:
# Library Imports
import pandas as pd

In [220]:
#dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
dateparse = lambda x: pd.datetime.strptime(x, "%Y-%m-%d")
# Reference: https://stackoverflow.com/questions/17465045/can-pandas-automatically-recognize-dates
# df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)

In [221]:
df = pd.read_csv(data_path, parse_dates = ['dteday'] , date_parser = dateparse)

C:\Users\suhai\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [222]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [223]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [224]:
weekday_map = {0:'SUN', 1:'MON', 2:'TUE', 3:'WED', 4:'THU', 5:'FRI', 6:'SAT'}
holiday_map = { 0:'NO HOLIDAY', 1:'HOLIDAY'}
workingday_map = {0:'NO WORKING DAY', 1:'WORKING DAY'}
season_map = {0:'SPRING', 1:'SUMMER', 2:'FALL', 3:'WINTER'}
weathersit_map = {0:'GOOD', 1:'MISTY', 2:'RAIN/SNOW/STORM'}
mnth_map = {0:'JAN', 1:'FEB', 2:'MAR', 3:'APR', 4:'MAY', 5:'JUN', 6:'JUL', 7:'AUG', 8:'SEP', 9:'OKT', 10:'NOV', 11:'DEZ'}
yr_map = {0: '2011', 1: '2012'}

In [225]:
df['weekday'] = df['weekday'].replace(weekday_map).astype("category")
df['holiday'] = df['holiday'].replace(holiday_map).astype("category")
df['workingday'] = df['workingday'].replace(workingday_map).astype("category")
df['season'] = df['season'].replace(season_map).astype("category")
df['weathersit'] = df['weathersit'].replace(weathersit_map).astype("category")
df['mnth'] = df['mnth'].replace(mnth_map).astype("category")
df['yr'] = df['yr'].replace(yr_map).astype("category")

In [226]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,SUMMER,2011,FEB,NO HOLIDAY,SAT,NO WORKING DAY,RAIN/SNOW/STORM,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,SUMMER,2011,FEB,NO HOLIDAY,SUN,NO WORKING DAY,RAIN/SNOW/STORM,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,SUMMER,2011,FEB,NO HOLIDAY,MON,WORKING DAY,MISTY,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,SUMMER,2011,FEB,NO HOLIDAY,TUE,WORKING DAY,MISTY,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,SUMMER,2011,FEB,NO HOLIDAY,WED,WORKING DAY,MISTY,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [227]:
df.dtypes

instant                int64
dteday        datetime64[ns]
season              category
yr                  category
mnth                category
holiday             category
weekday             category
workingday          category
weathersit          category
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [228]:
min_day = min(df['dteday'])
daydiff = lambda x : (x - min_day).days

In [229]:
df['dteday'] = df['dteday'].apply(daydiff)

In [230]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,0,SUMMER,2011,FEB,NO HOLIDAY,SAT,NO WORKING DAY,RAIN/SNOW/STORM,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1,SUMMER,2011,FEB,NO HOLIDAY,SUN,NO WORKING DAY,RAIN/SNOW/STORM,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2,SUMMER,2011,FEB,NO HOLIDAY,MON,WORKING DAY,MISTY,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,3,SUMMER,2011,FEB,NO HOLIDAY,TUE,WORKING DAY,MISTY,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,4,SUMMER,2011,FEB,NO HOLIDAY,WED,WORKING DAY,MISTY,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [231]:
df.dtypes

instant          int64
dteday           int64
season        category
yr            category
mnth          category
holiday       category
weekday       category
workingday    category
weathersit    category
temp           float64
atemp          float64
hum            float64
windspeed      float64
casual           int64
registered       int64
cnt              int64
dtype: object

In [232]:
# temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)
df['temp'] = df['temp'] * (39 - (-8)) + (-8)

In [233]:
# atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)
df['atemp'] = df['atemp'] * (50 - (16)) + (16)

In [234]:
#windspeed: Normalized wind speed. The values are divided to 67 (max)
df['windspeed'] = 67 * df['windspeed']

In [235]:
#hum: Normalized humidity. The values are divided to 100 (max)
df['hum'] = 100 * df['hum']

In [236]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,0,SUMMER,2011,FEB,NO HOLIDAY,SAT,NO WORKING DAY,RAIN/SNOW/STORM,8.175849,28.363250,80.5833,10.749882,331,654,985
1,2,1,SUMMER,2011,FEB,NO HOLIDAY,SUN,NO WORKING DAY,RAIN/SNOW/STORM,9.083466,28.027126,69.6087,16.652113,131,670,801
2,3,2,SUMMER,2011,FEB,NO HOLIDAY,MON,WORKING DAY,MISTY,1.229108,22.439770,43.7273,16.636703,120,1229,1349
3,4,3,SUMMER,2011,FEB,NO HOLIDAY,TUE,WORKING DAY,MISTY,1.400000,23.212148,59.0435,10.739832,108,1454,1562
4,5,4,SUMMER,2011,FEB,NO HOLIDAY,WED,WORKING DAY,MISTY,2.666979,23.795180,43.6957,12.522300,82,1518,1600

In [ ]:
features_of_interest = ['season','holiday', 'workingday', 'weathersit', 'temp', 'hum', 'windspeed', 'days_since_2011']